In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

# To identify which weather lag is best

In [ ]:
# Please check error and rerun the code in notebook 1
# so that 'trap' is included in all the weather_cleaned_lag files

In [15]:
lag7 = pd.read_csv(r'../data/weather_cleaned_lag7.csv')

In [25]:
# Extract train from train/test
# recommend to split sets by year as splitting by index is more prone to error

lag7['date'] = pd.to_datetime(lag7['date'])
lag7['year'] = lag7['date'].dt.year
lag7_train = lag7.loc[lag7['year'].isin([2007, 2009, 2011, 2013]), :]

In [26]:
# To drop ['nummosquitos', 'wnvcount',        # not available in test set
#          'station',                         # already associated weather to each station
#          'year',
#          'codesum', 'species']              # will be dummied below

lag7_train.drop(columns = ['nummosquitos','wnvcount',
                           'station', 'year', 'codesum', 'species'],
                axis=1,
                inplace = True)

C:\Users\User\.conda\envs\dsi27tf\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [27]:
lag7_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8475 entries, 0 to 8474
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         8475 non-null   datetime64[ns]
 1   wnvpresent   8475 non-null   float64
 2   tmax         8475 non-null   int64
 3   tmin         8475 non-null   int64
 4   tavg         8475 non-null   float64
 5   dewpoint     8475 non-null   int64
 6   wetbulb      8475 non-null   float64
 7   heat         8475 non-null   float64
 8   cool         8475 non-null   float64
 9   preciptotal  8475 non-null   float64
 10  stnpressure  8475 non-null   float64
 11  sealevel     8475 non-null   float64
 12  resultspeed  8475 non-null   float64
 13  resultdir    8475 non-null   int64
 14  avgspeed     8475 non-null   float64
 15  month        8475 non-null   int64
 16  sunrise      8475 non-null   float64
 17  sunset       8475 non-null   float64
 18  bcfg         8475 non-null   int64
 19  br           8475 non-null   int64
 20  dz           8475 non-null   int64
 21  fg           8475 non-null   int64
 22  fg+          8475 non-null   int64
 23  fu           8475 non-null   int64
 24  hz           8475 non-null   int64
 25  mifg         8475 non-null   float64
 26  ra           8475 non-null   int64
 27  sn           8475 non-null   int64
 28  sq           8475 non-null   int64
 29  ts           8475 non-null   int64
 30  tsra         8475 non-null   int64
 31  vcts         8475 non-null   int64
 32  gr           8475 non-null   float64
 33  vcfg         8475 non-null   float64
dtypes: datetime64[ns](1), float64(15), int64(18)
memory usage: 2.3 MB

In [ ]:
# define X and y

# Reccomended weather lag

In [ ]:
# weather lag(##) is best
# to proceed to see which feature combination is best

# Feature engineering for others

In [46]:
# read in data

train_merged = pd.read_csv('../data/merged_train.csv')

In [47]:
# to merge with weather data above
# train_merged = train_merged['date', 'latitude', 'longitude', 'trap']

# for interim analysis
train_weather = train_merged.drop(['nummosquitos','wnvcount',
                                   'station', 'sprayed'],
                                  axis=1)

In [48]:
train_weather.columns

Index(['date', 'species', 'latitude', 'longitude', 'trap', 'wnvpresent',
       'tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool',
       'codesum', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed',
       'resultdir', 'avgspeed', 'month', 'sunrise', 'sunset', 'bcfg', 'br',
       'dz', 'fg', 'fg+', 'fu', 'hz', 'mifg', 'ra', 'sn', 'sq', 'ts', 'tsra',
       'vcts', 'gr', 'vcfg'],
      dtype='object')

In [49]:
train_weather.head()

,date,species,latitude,longitude,trap,wnvpresent,tmax,tmin,tavg,dewpoint,...,hz,mifg,ra,sn,sq,ts,tsra,vcts,gr,vcfg
0,2007-05-29,CULEX PIPIENS/RESTUANS,41.867108,-87.654224,T048,0.0,88,65,76.5,59,...,1,0.0,0,0,0,0,0,0,0.0,0.0
1,2009-09-25,CULEX PIPIENS,41.776156,-87.778927,T155,0.0,70,60,65.0,57,...,0,0.0,1,0,0,0,0,0,0.0,0.0
2,2009-09-25,CULEX RESTUANS,41.923738,-87.785288,T013,1.0,70,60,65.0,57,...,0,0.0,1,0,0,0,0,0,0.0,0.0
3,2009-09-25,CULEX RESTUANS,41.960616,-87.777189,T017,0.0,70,60,65.0,57,...,0,0.0,1,0,0,0,0,0,0.0,0.0
4,2007-08-24,CULEX RESTUANS,41.662014,-87.724608,T135,0.0,81,69,75.0,67,...,0,0.0,1,0,0,1,1,0,0.0,0.0

In [50]:
# Custom dummy coding for species
train_weather['CULEX PIPIENS/RESTUANS'] = train_weather['species'].map(lambda x: 1 if x == 'CULEX PIPIENS/RESTUANS' else 0)
train_weather['CULEX PIPIENS'] = train_weather['species'].map(lambda x: 1 if x == 'CULEX PIPIENS' else 0)
train_weather['CULEX RESTUANS'] = train_weather['species'].map(lambda x: 1 if x == 'CULEX RESTUANS' else 0)

In [51]:
# create week variable
train_weather['date'] = pd.to_datetime(train_weather['date'])
train_weather['week'] = train_weather['date'].dt.isocalendar().week

In [52]:
# Custom dummy coding for week

train_weather.groupby('week')['wnvpresent'].sum()

week
22      0.0
23      0.0
24      0.0
25      0.0
26      1.0
27      0.0
28      7.0
29     15.0
30     16.0
31     39.0
32     54.0
33     66.0
34    107.0
35     47.0
36     44.0
37     34.0
38     19.0
39      6.0
40      2.0
41      0.0
Name: wnvpresent, dtype: float64

In [58]:
train_weather = pd.get_dummies(train_weather, columns=['week'], drop_first=False)

In [61]:
train_weather.columns

Index(['date', 'species', 'latitude', 'longitude', 'trap', 'wnvpresent',
       'tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool',
       'codesum', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed',
       'resultdir', 'avgspeed', 'month', 'sunrise', 'sunset', 'bcfg', 'br',
       'dz', 'fg', 'fg+', 'fu', 'hz', 'mifg', 'ra', 'sn', 'sq', 'ts', 'tsra',
       'vcts', 'gr', 'vcfg', 'CULEX PIPIENS/RESTUANS', 'CULEX PIPIENS',
       'CULEX RESTUANS', 'week_28', 'week_29', 'week_30', 'week_31', 'week_32',
       'week_33', 'week_34', 'week_35', 'week_36', 'week_37', 'week_38',
       'week_39'],
      dtype='object')

In [60]:
train_weather.drop(columns=['week_22', 'week_23', 'week_24', 'week_25', 
                            'week_26', 'week_27', 'week_40', 'week_41'],
                  axis=1,
                  inplace=True)

# Archive may delete

In [ ]:
# To check if all the traps in test are also in train set

train_loc = []
for x, y in zip(train['longitude'], train['latitude']):
    if [x, y] not in train_loc:
        train_loc.append([x, y])
    
test_loc = []
for x, y in zip(test['longitude'], test['latitude']):
    if [x, y] not in test_loc:
        test_loc.append([x, y])
        
ex_loc = []
for i in test_loc:
    if i not in train_loc:
        ex_loc.append(i)

In [30]:
train_merged.groupby(['latitude', 'longitude'])['nummosquitos'].sum()

latitude   longitude
41.644612  -87.604498      129.0
41.659112  -87.538693     1699.0
41.662014  -87.724608     3122.0
41.673408  -87.599862    21668.0
41.678618  -87.559308     1368.0
                          ...
42.008314  -87.777921     2668.0
42.009876  -87.807277      758.0
42.010412  -87.662140      121.0
42.011601  -87.811506      847.0
42.017430  -87.687769      211.0
Name: nummosquitos, Length: 138, dtype: float64

In [31]:
train_merged.groupby(['trap'])['nummosquitos'].sum()

trap
T001       25.0
T002     3710.0
T003     1346.0
T004       59.0
T005       50.0
         ...
T236      375.0
T237       18.0
T238       34.0
T900    15386.0
T903     2327.0
Name: nummosquitos, Length: 136, dtype: float64